<a href="https://colab.research.google.com/github/ddelrio95/Robot_Class/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Robot Class Project

In [10]:
class Robot:
    def __init__(self, name, color, weight):
        self.name = giveName
        self.color = givenColor
        self.giveWeight = givenWeight

    def introduce_self(self):
      print("My name is " + self.name)  #this is Java

In [ ]:
r1 = Robot()
r1.name = "Tom"
r1.color = "red"
r1.weight = 30


r2 = Robot()
r2.name = "Jerry"
r2.color = "red"
r2.weight = 40

In [7]:
r1.introduce_self()
r2.introduce_self()

My name is Tom
My name is Jerry

In [ ]:
class Users:
  pass

In [26]:
user1 = Users()
user1.first_name = "Dave"
user1.last_name = "Bowman"
user1.age = 36

In [27]:
user2 = Users()
user2.fist_name = "Dario"
user2.last_name = "del Rio"
user2.age = 26

In [ ]:
print(user1.first_name)
print(user1.last_name)
print(user1.age)

print(user2.fist_name)
print(user2.last_name)
print(user2.age)

In [30]:
fist_name = "Arthur"
last_name = "Clarke"

In [ ]:
print(fist_name, last_name)

In [ ]:
print(user1.first_name, user1.last_name, user1.age, user2.fist_name, user2.last_name, user2.age)

This is an example of a new class

In [33]:
class Cars:

In [34]:
car1 = Cars()
car1.brand = "BMW"
car1.color = "white"
car1.model = "m2"
car1.year = 2020

car2 = Cars()
car2.brand = "Porsche"
car2.color = "grey"
car2.model = "911"
car2.year = 2018

car3 = Cars()
car3.brand = "Mercedez"
car3.color = "black"
car3.model = "s63"
car3.year = 2019

car4 = Cars()
car4.brand = "Audi"
car4.color = "blue"
car4.model = "rs6"
car4.year = 2021

car5 = Cars()
car5.brand = "Honda"
car5.color = "brown"
car5.model = "accord"
car5.year = 2014

In [56]:
class User:
  def __init__(self, full_name, birthday):
    self.name = full_name
    self.birthday = birthday ##yyyymmdd

In [ ]:
user = User("Dave Bowman", "19710315")
print(user.full_name)
print(user.birthday)